[submodule "spm12/external/bids_tools_matlab"]
	path = spm12/external/bids_tools_matlab
	url = https://github.com/tanguyduval/bids_tools_matlab.git
[submodule "apps/Boutiques"]
	path = apps/Boutiques
	url = https://github.com/tanguyduval/Boutiques.git
[submodule "apps/QualityControl/imtool3D_td"]
	path = apps/QualityControl/imtool3D_td
	url = https://github.com/tanguyduval/imtool3D_td.git
[submodule "apps/QualityControl/External/dicm2nii"]
	path = apps/QualityControl/External/dicm2nii
	url = https://github.com/tanguyduval/dicm2nii.git
